.pagepagepage {
  margin: 0 auto;
  .pagination {
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    a {
      padding: 3px;
      color: $blue;
      text-decoration: none;
      &:hover {
        font-weight: bold;
        opacity: 0.5;
      }
    }
    .current {
      font-weight: bold;
      color: gray;
      padding: 3px;
    }
  }
}

