%section.items-box.show-items
  = link_to item_path(item.id), class: 'item-link' do
    %figure.items-box-photo
      = image_tag (item.images.first.image.url), class: "item-image"
    .products
      %h3.products__name.show-items-name
        = item.name
      .products__price.show-items-price
        .products__price--fig
          ¥
          = item.price
        .products__price--likes
          %i.icon-like-border
            %i.far.fa-heart
          %span.num 44
        %p.products__price--tax.show-items-tax (税込)
